@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* *{
    margin:0px;
    padding:0px;
} */
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    /* grid-template-columns: 250px 250px 250px;
   grid-template-rows: 250px 250px 250px;  */
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    grid-gap: 1%;
}



@keyframes entry {

    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }

}

.red {
    animation: 5s entry ease-in;
}

@keyframes exit {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.green {
    animation: 5s exit ease-out;
}
.blue {
    animation: 5s exit ease-out;
}


@keyframes emoteanimation {

    from {
        transform: scaleX(0%);
        opacity: 0.5;
    }

    to {
        transform: scaleX(100%);
        opacity: 1%;
    }

}

.green {
    background-color: orange;

}

.red {
    background-color: red;
    grid-row: 2/3;
    grid-column: -2/-3;

}

.blue {
    background-color: blueviolet;
    grid-row: 3/4;
    grid-column: -1/-2;
}

@media only screen and (max-width:600px) {

    .orange {
        background-color: rgb(217, 114, 114);

    }

    .red {
        background-color: rgb(215, 79, 79);


    }

    .purple {
        background-color: rgb(184, 127, 237);

    }


} 
